<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="favicon.png" rel="icon">
    <meta name="author" content="Nghia Minh Luong">
    <meta name="keywords" content="Default Description">
    <meta name="description" content="Default keyword">
    <title>Sky - Cart</title>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/plugins/ps-icon/style.css">
    <!-- CSS Library-->
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/owl-carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="/plugins/slick/slick/slick.css">
    <link rel="stylesheet" href="/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/plugins/Magnific-Popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="/plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/plugins/revolution/css/settings.css">
    <link rel="stylesheet" href="/plugins/revolution/css/layers.css">
    <link rel="stylesheet" href="/plugins/revolution/css/navigation.css">
    <!-- Custom-->
    <link rel="stylesheet" href="/css/style.css">
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]><script src="/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">
<th:block th:include="header"></th:block>
<main class="ps-main">
    <div class="ps-content pt-80 pb-80">
        <div class="ps-container">
            <div class="inf">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 p-l-md-10 p-l-sm-10">
                    <div class="account_left">
                        <h2>Tài Khoản</h2>
                        <ul>
                            <li class="current clear-li"><a ><i class="fa fa-user"
                                                                aria-hidden="true"></i> Thông tin
                                tài khoản</a></li>
                            <li class="clear-li"><a ><i
                                    class="fa fa-list" aria-hidden="true"></i> Quản lý đơn hàng</a></li>
                            <li class="clear-li"><a ><i class="fa fa-sign-out"
                                                        aria-hidden="true"></i> Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <h1 class="text-center m-t-15 m-b-25">TÀI KHOẢN CỦA BẠN</h1>
                    <div class="user_box">
                        <h2 class="title-detail" style="margin: 10px 0 20px;line-height: 1.4;">Đơn hàng của bạn</h2>
                        <th:block th:if="${receiptAccount.isEmpty()}">
                            <h3 class="text-center">Hiện tại không có đơn hàng nào</h3>
                            <i style="text-align: center;font-size: 90px;display: block;" class="fa fa-shopping-cart"></i>
                        </th:block>
                        <th:block th:unless="${receiptAccount.isEmpty()}">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Tên khách hàng</th>
                                    <th>Email</th>
                                    <th>Ngày đặt hàng</th>
                                    <th>Trạng thái</th>
                                    <th>Chi tiết</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="receipt  ${receiptAccount}">
                                    <td th:text="'DH'+${receipt.receiptId}"/>
                                    <td th:text="${receipt.user.userName}"/>
                                    <td th:text="${receipt.user.email}"/>
                                    <td th:text="${#dates.format(receipt.receiptDate, 'dd-MM-yyyy HH:mm')}"/>
                                    <td th:if="${receipt.receiptStatus==true}">Chưa rao hàng</td>
                                    <td th:unless="${receipt.receiptStatus==true}">Chờ nhận hàng</td>
                                    <td><a th:href="@{/member/receipt-item-account/}+${receipt.receiptId}">Chi tiết</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </th:block>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <th:block th:include="footer"></th:block>
</main>
<!-- JS Library-->
<script type="text/javascript" src="/plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script type="text/javascript" src="/plugins/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/plugins/gmap3.min.js"></script>
<script type="text/javascript" src="/plugins/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="/plugins/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/plugins/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/plugins/slick/slick/slick.min.js"></script>
<script type="text/javascript" src="/plugins/elevatezoom/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/https://maps.googleapis.com/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script><script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<!-- Custom scripts-->

<script>
    function updateFrom(){
        setTimeout(function () {
            document.getElementById("formUpdate").submit();
        },1000);
    }
</script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
